#display {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  border-radius: 10px;
  border: 1px solid;
  margin: 20px;
  padding: 0 10px;
  background-color: #a2aa78;
}
