#number_pad {
  display: grid;
  grid-template-areas:
    "num7 num8 num9"
    "num4 num5 num6"
    "num1 num2 num3"
    ". num0 numdot";
  justify-content: space-evenly;
  row-gap: 20px;
}

#num1 {
  grid-area: num1;
}

#num2 {
  grid-area: num2;
}

#num3 {
  grid-area: num3;
}

#num4 {
  grid-area: num4;
}

#num5 {
  grid-area: num5;
}

#num6 {
  grid-area: num6
}

#num7 {
  grid-area: num7;
}

#num8 {
  grid-area: num8;
}

#num9 {
  grid-area: num9;
}

#num0 {
  grid-area: num0;
}

#numdot {
  grid-area: numdot;
}
